<template>
  <div class="container">
    <div class="buy">Scan QR to buy album</div>
    <div>Email the recipt to babuhenrysamuel@gmail.com to receive download link</div>
    <img src="/img/QRcode_paytm_mahimma.jpg" />
  </div>

</template>

<style scoped>
.buy {
  font: 400 2.4em 'Great Vibes', Helvetica, sans-serif;
  padding-top: 2em;
}

img {
  width: 30%;
}
</style>
