<template>
  <div class="container">

    <h3 class='presents'>featuring</h3>

    <div class='flexwrap'>
      <div class="cast">
        <img class="circular--square" src='/img/bhs.jpg'></h1>
        <p class="castName">Babu Henry Samuel</p>
      </div>

      <div class="cast">
        <img class="circular--square" src='/img/hemaJohn.jpg'></h1>
        <p class="castName">Hema John</p>
      </div>

      <div class="cast">
        <img class="circular--square" src='/img/im.jpg'></h1>
        <p class="castName">Immanuel</p>
      </div>
    </div>

  </div>

</template>

<style scoped>
.container {
  background-color: #5ad;
}

.presents{
  font: 400 2.4em 'Great Vibes', Helvetica, sans-serif;
  color: #000;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
  padding: 30px;
}

.flexwrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.cast {
  align-content: center;
  margin: 30px;
}

.castName{
  font: 400 1.2em 'Merienda One', Helvetica, sans-serif;
}

.circular--square {
  border-radius: 50%;
  width: 12em;
  height: 12em;
}
</style>
