<template>
  <div class="container">

    <h3 class='presents'>Demo Songs</h3>

    <div class="demoSongs">

      <div class="audio">
        <h2>Song 1</h2>
        <iframe src="https://archive.org/embed/Sermon3-25-12"></iframe>
      </div>
      <div class="audio">
        <h2>Song 2</h2>
        <iframe src="https://archive.org/embed/Sermon3-25-12"></iframe>
      </div>
      <div class="audio">
        <h2>Song 3</h2>
        <iframe src="https://archive.org/embed/Sermon3-25-12"></iframe>
      </div>
      <div class="audio">
        <h2>Song 4</h2>
        <iframe src="https://archive.org/embed/Sermon3-25-12"></iframe>
      </div>
      <div class="audio">
        <h2>Song 5</h2>
        <iframe src="https://archive.org/embed/Sermon3-25-12"></iframe>
      </div>
      <div class="audio">
        <h2>Song 6</h2>
        <iframe src="https://archive.org/embed/Sermon3-25-12"></iframe>
      </div>
      <div class="audio">
        <h2>Song 7</h2>
        <iframe src="https://archive.org/embed/Sermon3-25-12"></iframe>
      </div>

    </div>
  </div>

</template>

<style scoped>
.presents{
  font: 400 2.4em 'Great Vibes', Helvetica, sans-serif;
  color: #000;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
  padding: 30px;
}

.demoSongs{
  justify-content: center;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
}

.audio{
  padding: 10px;
}

h2 {
  font-style: italic;
  font-family: cursive;
  border-width: thick;
  font-size: 2em;
}

iframe {
  height: 7vw;
}
</style>
