<template>
  <div class="container">
    <h1>MAHIMMA SWARANGAL</h1>
    <h2>presents</h2>
  </div>

</template>

<style scoped>
.container {
  background-color: #d77;
}

h1 {
  font: 400 3em 'Merienda One', Helvetica, sans-serif;
  color: #fff;
  text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
}

h2 {
  font: 400 2em 'Great Vibes', Helvetica, sans-serif;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
  padding: 30px;
}
</style>
