<template>
  <div class='container'>
    <!-- <iframe class="frame" src="https://www.youtube.com/embed/M2qHnMl8sjs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
    <video autoplay controls src="/vid/nee_illatha_nallelam_bhs.webm" class='frame' />
  </div>
</template>

<style scoped>
.container {
  background-color: #4dd;
  height: 37vh;
}

.frame {
  width: 100%;
  height: 100%;
}

@media screen and ( min-width: 576px) {
    .frame {
      width: 100%;
      height: 100%;
    }
    .container{
      height: 50vh;
    }
}

</style>
