<template>
  <section class="container">
    <topbar />
    <trailer />
    <cast />
    <buy />
  </section>
</template>

<script>
import Logo from '~/components/Logo.vue'
import Trailer from '~/components/trailer.vue'
import topbar from '~/components/topbar.vue'
import cast from '~/components/cast.vue'
import buy from '~/components/buy.vue'
import demoSongs from '~/components/demoSongs.vue'

export default {
  components: {
    Logo,
    Trailer,
    topbar,
    cast,
    buy,
    demoSongs
  }
}
</script>

<style>
.container {
  display: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
